<div class="container">
    <div  class="row">
        <div class="col-md-12 mt-5">
            <div class="row">
                <img class="col-md-4" style="width: 200px;" src="assets/img/logo_links.svg">
                <div class="col-md-2 offset-md-6">
                    <button class="btn btn-outline-primary mt-4" >LOGOUT </button>
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
           <app-card-user class="col-md-4"></app-card-user>
           <app-card-create-link class="col-md-8"></app-card-create-link>
        </div>
        <div class="col-md-12">
            <app-card-view-link class="col-md-8"></app-card-view-link>
        </div>
        
        <!-- <form *ngIf="userRegister" [formGroup]="formLogin" (ngSubmit)="loginSubmit(formLogin)" class="col-md-4 offset-md-4 card card-link shadow-lg">
            <h5 class="card-title">Login</h5>
                <div class="form-floating">
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Your Email</label>
                </div>
                <div class="form-floating">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                </div>
                <button [disabled]="formLogin.invalid" class="btn btn-primary">
                    Login
                </button>
        </form> -->

        
    </div>
</div>


