<div class="container">
    <div  class="row">
        <div class="col-md-12 mt-5">
            <img class="col-md-2 link-logo" src="assets/img/logo_links.svg">
        </div>
        <button class="col-md-2 offset-md-8 btn btn-primary" >LOGOUT </button>
        <div class="col-md-12">
            <!-- <img class="mx-auto d-block link-logo" src="assets/img/logo_links.svg"> -->
        </div>
        
        <!-- <form *ngIf="userRegister" [formGroup]="formLogin" (ngSubmit)="loginSubmit(formLogin)" class="col-md-4 offset-md-4 card card-link shadow-lg">
            <h5 class="card-title">Login</h5>
                <div class="form-floating">
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Your Email</label>
                </div>
                <div class="form-floating">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                </div>
                <button [disabled]="formLogin.invalid" class="btn btn-primary">
                    Login
                </button>
        </form> -->

        
    </div>
</div>


