<div class="container">
    <div  class="row">
        <div class="col-md-12 mt-5">
            <button class="col-md-2 offset-md-10 btn btn-primary">Sign Up</button>
        </div>
        <div class="col-md-12">
            <img class="mx-auto d-block link-logo" src="assets/img/logo_links.svg">
        </div>
        
        <div class="col-md-4 offset-md-4 card card-link shadow-lg">
            <h5 class="card-title">Login</h5>
                <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Your Email</label>
                </div>
                <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                </div>
                <button class="btn btn-primary">
                    Login
                </button>
        </div>
    </div>
</div>

