/* You can add global styles to this file, and also import other style files */
.card-link {

    padding: 50px 30px;
    border-radius: 12px;
    border: 1px solid transparent;
    input {
        margin-bottom: 12px;
    }
    button {
        margin-top: 30px;
    }   
}

.link-logo {
    width: 300px;
}



